.container {
    border: thin solid;
    .row {
        border: solid thin;
        .col {
            border: solid thin;
        }
    }
}

#highlight {
    border: thick;
}

.langLogo {
    max-width: 60px;
    max-height: 60px;
}