.container {
    border: thin solid;

    .row {
        border: solid thin;
        .col {
            border: solid thin;
        }
    }
}

#highlight {
    border: thick;
}

.langLogo {
    max-width: 90px;
    max-height: 90px;
    min-width: 60px;
    min-height: 60px;
}