.hightlight {
    visibility: hidden;
}


.container {
    border: thin solid;

    .row {
        border: solid thin;
        .col {
            border: solid thin;
        }
    }
}

#highlight {
    border: thick;
}

.langLogo {
    width: 90px;
    height: 90px;
}